---
layout: layout2
title: pfarrell
---
  <div class="row">
    <div class="col-xs-1">
      <a href="https://github.com/pfarrell">
        github
      </a>
    </div>
    <div class="col-xs-1">
      <a href="https://twitter.com/pfarrell">
        twitter
      </a>
    </div>
    <div class="col-xs-1">
      <a href="https://patf.net/gitlab">
        gitlab
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h3>Bits</h3>
    </div>
  </div>
  <div class="row">
    <div id="projects">
      <div class='project item'>
        <a href='http://patf.net:4567' title="Buster">
          <img src="/images/buster_sm2.jpg"></img>
        </a>
      </div>
      <div class='project item'>
        <a href='https://patf.net/pigeon/index.html' title="Pigeon">
          <img src="/images/pigeon_sm2.jpg"></img>
        </a>
      </div>
      <div class='project item'>
        <a href='https://patf.net/quota' title="Quota">
          <img src="/images/quota_sm.jpg"></img>
        </a>
      </div>
      <div class='project item'>
        <a href='http://github.com/pfarrell/timetrap' title="TimeTrap">
          <img src="/images/timetrap_sm.jpg"></img>
        </a>
      </div>
      <div class='project item' title="Bemused">
        <img src="/images/bemused_sm.jpg"></img>
      </div>
      <div class='project item'>
        <a href='http://shakin.herokuapp.com'>
          <img src="/images/earthquake_sm.jpg" title="Shakin'"></img>
        </a>
      </div>
      <div class='project item' title="Oblique Stratagems">
        <a class='' href='https://patf.net/obst'>
          <img src="/images/obst_sm.jpg"></img>
        </a>
      </div>
      <div class='project item' title="Game of Life">
        <a class='' href='https://rawgithub.com/pfarrell/canvas/master/gol.html'>
          <img src="/images/gol.gif"></img>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h3>Strings</h3>
    </div>
  </div>
  <div id="notes">
  {% for post in site.posts %} 
    <div class='project item'>
      <a href='{{ post.url }}'>{{ post.title }}</a>
    </div>
  {% endfor %}
  </div>
  {% for image in site.images %} 
    <div class="row">
      <div class='post col-xs-4'>
        <a href='{{ post.url }}'>{{ post.title }}</a>
      </div>
    </div>
  {% endfor %}
  <script>
    $(window).load(function()
      {
        var container = document.querySelector('#projects');
        var msnry = new Masonry( container, {
            // options
              columnWidth: 100,
                itemSelector: '.item'
        });
        var container = document.querySelector('#notes');
        var msnry = new Masonry( container, {
            // options
              columnWidth: 100,
                itemSelector: '.item'
        });
      });
  </script>
