---
layout: layout2
title: pfarrell
---
  <div class="row">
    <div class="col-xs-4">
      <h3>Bits</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class='project'>
        <img src="/images/buster_sm.jpg"></img>
        <span class="title">Buster</span>
        <p>Streaming tweets using <a href='http://www.html5rocks.com/en/tutorials/eventsource/basics/'>server sent events</a></p>
        <ul>
          <li><a href='http://github.com/pfarrell/buster'>src</a></li>
          <li><a href='http://patf.net:4567'>home</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-3">
      <div class='project'>
        <img src="/images/pigeon_sm.jpg"></img>
        <span class="title">Pigeon</span>
        <p class="desc">Bookmarking/archival app</p>
        <ul>
          <li><a class='src' href='http://github.com/pfarrell/pigeon'>{src}</a></li>
          <li><a href='http://patf.net/pigeon/u/patf/0'>Pigeon</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-3">
      <div class='project'>
          <img src="/images/quota_sm.jpg"></img>
          <span class="title">Quota</span>
          <p class="desc">Collected Quotes</p>
          <ul>
          <li><a href='http://patf.net/quota'>Quota</a></li>
          <li><a class='src' href='http://github.com/pfarrell/quota'>{src}</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class='project'>
        <img src="/images/timetrap_sm.jpg"></img>
        <span class="title">TimeTrap</span>
        <p class="desc">Data structure for sliding windows<p>
        <ul>
          <li><a href='http://github.com/pfarrell/timetrap'>TimeTrap</a></li>
          <li><a class='src' href='https://rubygems.org/gems/time_trap'>{gem}</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-3">
      <div class='project'>
        <img src="/images/bemused_sm.jpg"></img>
        <span class="title">Bemused</span>
        <p class="desc">Streaming Mp3 website</p> 
        <ul>
          <li><a class='src' href='https://github.com/pfarrell/bemused'>src</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-3">
      <div class='project'>
        <img src="/images/shakin_sm.jpg"></img>
        <span class="title">Shakin'</span>
        <p class="desc">Earthquake data api</p> 
        <ul>
          <li><a href='http://shakin.herokuapp.com'>Shakin</a></li>
          <li><a class='src' href='https://github.com/pfarrell/shakin'>src</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class='project'>
        <img src="/images/obst_sm.jpg"></img>
        <span class="title">Oblique Stratagems</span>
        <p class="desc">Answers without questions</p>
        <ul>
         <li><a class='' href='http://github.com/pfarrell/obst'>src</a></li>
          <li><a class='' href='http://patf.net/obst'>home</a></li>
        </ul>
      </div>
    </div>
    <div class="col-xs-3">
      <div class='project'>
        <img src="/images/gol.gif"></img>
        <span class="title">Conway's Game of Life</span>
        <p class="desc">First pass at Conway's Game of Life using Canvas</p>
        <ul>
          <li><a class='' href='https://rawgithub.com/pfarrell/canvas/master/gol.html'>Game of Life</a></li>
          <li><a class='src' href='http://github.com/pfarrell/canvas'>{src}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <h3>Strings</h3>
    </div>
  </div>
  {% for post in site.posts %} 
    <div class="row">
      <div class='post col-xs-6'>
        <a href='{{ post.url }}'>{{ post.title }}</a>
      </div>
    </div>
  {% endfor %}
  {% for image in site.images %} 
    <div class="row">
      <div class='post col-xs-4'>
        <a href='{{ post.url }}'>{{ post.title }}</a>
      </div>
    </div>
  {% endfor %}
