<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <!--<link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/holman" />-->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
    <!--<link rel="stylesheet" href="/css/syntax.css" type="text/css" />-->
    <!--<link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />-->
    <!--<link media="only screen and (device-width: 768px)" href="/css/ipad.css" type="text/css" rel="stylesheet" />-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27164060-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
                        
    </script>
    <link href='http://fonts.googleapis.com/css?family=Caudex' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <div id="header">
    <img src="http://www.gravatar.com/avatar/e545f8ab59e013ce6de290958d8f3f03?s=132" alt="Pat Farrell" />
    <ul>
      <li><a href="https://github.com/pfarrell">github</a></li>
      <li><a href="http://patf.net">home</a></li>
  </div>
  {{ content }}
  </body>
</html>
