<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="all" />
    <!--<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27164060-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
                        
    </script>
  </head>
  <body>
    <div class="row">
      <div class="col-md-2">
        <img src="http://www.gravatar.com/avatar/e545f8ab59e013ce6de290958d8f3f03?s=132" alt="Pat Farrell" />
        <ul style="margin-left:1.5em;"> 
          <li><a href="http://pfarrell.github.com">home</a></li>
          <li><a href="https://github.com/pfarrell">github</a></li>
        </ul>
      </div>
      <div class="col-8">
          {{ content }}
      </div>
    </div>
  </body>
</html>
